<app-header></app-header>
<div style="margin-top: 200px;">
<div class="row">
    <div class="col-sm-1">
        <p></p>
    </div>
    <div class="col" style="margin-left: 6%;">
        <p style="font-family:Arial, Helvetica, sans-serif;font-size: 40px;font-weight: 700;color: #0c71c3;">SIVASURIYAN BASKARAN</p>
        <p>JAVA FULL STACK DEVELOPER, INDIA</p>
        <p>Empathetic, flexible and innovative programmer
        with proven experience in implementing solutions for web applications
        using tech stack Java, Spring Boot, Angular, Azure
    </p>
    </div>
    <div class="col">
        <p></p>
    </div>
</div>
</div>
