<nav class="navbar navbar-expand-sm bg-custom navbar-dark fixed-top" style="height: 11%; background-color: black;">
    <div class="navbar-brand" style="line-height: 95%;">
        <span class="bookTitle" style="margin-left: 180%; font-weight: 500;font-family:Open Sans;font-size:xx-large">Portfolio</span>
        <br/>
        <span class="bookPrice" style="margin-left: 183%; font-size:small">Sivasuriyan Baskaran</span>
    </div>
    <ul class="navbar-nav ml-auto" style="margin-right: 20%;">
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/sivasuriyan-baskaran-a2681599/" target="_blank">LinkedIn</a>
        </li>
         <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            My Apps
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="calculators/interest-calculator">FD/RD Calculator</a>
            <a class="dropdown-item" routerLink="games/squid-game">SQUID Game</a>
          </div>
        </li>
      </ul>
  </nav>
  